src/main/mule/template-sfdc2sfdc-opportunity-migration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="910654bf-9fd9-4073-bad4-cf951b7f0022" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	
	<salesforce:sfdc-config name="Salesforce_Sfdc_B_config"
		doc:name="Salesforce Sfdc config" doc:id="3d4eabb0-83f2-4e02-97e1-77c5417347f7">
		<salesforce:basic-connection username="${sfdc.b.username}"
			password="${sfdc.b.password}" securityToken="${sfdc.b.securityToken}" url="${sfdc.b.url}"/>
	</salesforce:sfdc-config>

	<email:smtp-config name="Gmail_SMTP" doc:name="Email SMTP"
		doc:id="8ba14ccd-a5b8-43a8-8281-cd433c852f2b">
		<email:smtps-connection host="${smtp.host}"
			port="${smtp.port}" user="${smtp.user}" password="${smtp.password}"
			tlsContext="TLS_Context" />
	</email:smtp-config>
	<tls:context name="TLS_Context" doc:name="TLS Context"
		doc:id="233e532c-8296-4ddd-ac67-e2b7984b3609">
		<tls:trust-store insecure="true" />
	</tls:context>
	<configuration-properties file="common.properties" doc:name="Configuration properties" doc:id="dffa4da7-cc5c-4ecb-922e-1115b4387354" />
	<configuration-properties file="mule.${mule.env}.properties" doc:name="Configuration properties" doc:id="674beef8-9485-40a7-99b9-0685c9b7e863" />
	
	<salesforce:sfdc-config name="Salesforce_Sfdc_A_config"
		doc:name="Salesforce Sfdc config" doc:id="38a0808d-8f32-4c87-a763-4db431b3c4cd">
		<salesforce:basic-connection username="${sfdc.a.username}"
			password="${sfdc.a.password}" securityToken="${sfdc.a.securityToken}" url="${sfdc.a.url}"/>
	</salesforce:sfdc-config>
	<flow name="template-sfdc2sfdc-opportunity-migrationFlow" doc:id="884f86c5-66e1-4701-bb9b-594c2a60abf3" >
		<http:listener config-ref="HTTP_Listener_config" path="/migrate" doc:name="/migrate" doc:id="1a64d758-b02b-4675-b66a-f7c9f4fcab6b" />
		<salesforce:query config-ref="Salesforce_Sfdc_A_config" doc:name="Query Opportunities from Salesforce instance A" doc:id="ebcf71a8-3192-4437-b2cb-b23f008afae5">
			<salesforce:salesforce-query>SELECT LastModifiedDate, Name, Amount, StageName, Probability, CloseDate, Account.Id, Account.Name, Account.Industry, Account.NumberOfEmployees FROM Opportunity WHERE Amount &gt; 5000</salesforce:salesforce-query>
		</salesforce:query>
		<batch:job jobName="migrateOpportunitiesBatch" doc:id="79b373e6-1aeb-43a9-9dfe-8ac0d2f31fdc">
			<batch:process-records >
				<batch:step name="getOpportunityInBStep" doc:id="232087de-e311-49c1-a890-439c65ea1af2" >
					<salesforce:query-single config-ref="Salesforce_Sfdc_B_config" doc:name="query Opportunity in Salesforce instance B" doc:id="573f94bc-79b9-4219-b6bd-65200b61b7a2" target="IdInB">
						<salesforce:salesforce-query >SELECT Id FROM Opportunity WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	name : payload.Name
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Push Id to payload" doc:id="5e6ecafa-54e0-4014-a786-899ba03a102f" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.IdInB]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="findOrCreateAccountInSalesforceStep" doc:id="acaea295-d3c0-46b5-b869-e3e59b429110" acceptExpression='#["${account.sync.policy}" == "syncAccount" and payload.Account != null]'>
					<salesforce:query-single config-ref="Salesforce_Sfdc_B_config" doc:name="query Account in  Salesforce Instance B" doc:id="e3e41eb8-00b9-47bd-9717-e1513e6a79b1" target="accountId">
						<salesforce:salesforce-query>SELECT Id FROM Account WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters><![CDATA[#[output applicaton/java
---
{
	"name" : payload.Account.Name
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Save record payload" doc:id="a6285fc1-69c9-4034-8baf-6a60e6041938" >
						<ee:message >
						</ee:message>
						<ee:variables >
							<ee:set-variable variableName="recordPayload" ><![CDATA[%dw 2.0
output application/java
---
payload ++ {accountInBId : vars.accountId.Id}]]></ee:set-variable>
							
						</ee:variables>
					</ee:transform>
					<choice doc:name="Should be a new Account created?" doc:id="61765808-c8cf-4bb8-8dcb-ab1dd601010e" >
						<when expression="#[vars.recordPayload.accountBId == null]" >
							<ee:transform doc:name="Prepare Account data" doc:id="81cf7def-04bc-4039-b3d3-d87c534c6377">
								<ee:message>
									<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[payload.Account
- "Id"
++ (if(payload.Account.NumberOfEmployees != null) ("NumberOfEmployees": payload.Account.NumberOfEmployees as Number)
else "NumberOfEmployees": 0)]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
							<salesforce:create type="Account" doc:name="create Account in Salesforce Instance B" doc:id="7eb92ad4-956e-4b6b-a0c5-dfb585919754" config-ref="Salesforce_Sfdc_B_config" />
							<ee:transform doc:name="Push Id to record payload" doc:id="592c3f5d-8216-4f91-bd9d-285d17688559" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.recordPayload ++ { AccountId : payload.id}]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						
</when>
						<otherwise >
							<logger level="INFO" doc:name="Log - Existing Account Id already set!" doc:id="8388541c-b000-4c8e-be6e-1fcb7053bbae" message="Log - Existing Account Id already set!"/>
							<ee:transform doc:name="record payload" doc:id="1473cc46-f3e5-418f-97d4-26c6d6a3f28c" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
vars.recordPayload]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</otherwise>
					</choice>
				</batch:step>
				<batch:step name="createOpportunitiesInBStep" doc:id="78a74ab4-9b91-416d-985a-acda2ac377eb">
					<batch:aggregator doc:name="Batch Aggregator" doc:id="1ad86a98-643e-494a-a90a-32daab0b03cc" size="${page.size}">
						<ee:transform doc:name="Prepare payload for upsert" doc:id="d484063f-6d81-42ce-98ef-7cec51b04672" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map {
($ - "LastModifiedDate"
 - "Account"
++ ("Amount": $.Amount as Number)
++ ("CloseDate": $.CloseDate as Date))
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce:upsert-bulk doc:name="Upsert bulk" doc:id="7ff6c4a6-16ae-4032-ba73-cc7d30cd28c3" externalIdFieldName="Id" type="Opportunity" config-ref="Salesforce_Sfdc_B_config"/>
					
</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
								<scatter-gather doc:name="Scatter-Gather" doc:id="ef2964ef-0b85-4c6c-a5ee-b834df639e7b">
			<route>
				<logger level="INFO" doc:name="Migration process has finished!" doc:id="b7575d38-7dbd-4602-9186-1bbb25234896" message="Migration process has finished!" />
			</route>
					<route>
 						<ee:transform doc:name="Prepare migration result email"
 							doc:id="c84b4bc4-5a65-41c1-9d0c-f1ebd3d8db7a">
 							<ee:message>
 								<ee:set-payload><![CDATA[%dw 2.0
 output text/plain
 ---
 "Migration Report: \n"
  
 ++ "\n Time [milliseconds]: " 		++ payload.elapsedTimeInMillis
 ++ "\n Total Records: "			++ payload.totalRecords
 ++ "\n Successful Records: "		++ payload.successfulRecords
 ++ "\n Failed Records: "			++ payload.failedRecords
 ++ "\n Loaded Records: "			++ payload.loadedRecords
 ++ "\n Processed Records: " 		++ payload.processedRecords]]></ee:set-payload>
 							</ee:message>
 						</ee:transform>
 						<email:send config-ref="Gmail_SMTP" doc:name="Send migration result email"
 							doc:id="5896eaa9-dd10-47a2-a6fc-6319b11dbd06" fromAddress="${mail.from}"
 							subject="${mail.subject}">
 							<email:to-addresses>
 								<email:to-address value="${mail.to}" />
 							</email:to-addresses>
 						</email:send>
 					</route>
		</scatter-gather>
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Log - Migration process has started!" doc:id="673c18b0-db38-44f6-95ef-69edd1e75ed6" message="Migration process has started!"/>
		<ee:transform doc:name="Build response" doc:id="2abddd58-c707-435a-a004-ec5ba9107429" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Migration process has started!"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	</mule>
